.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut();

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: white;
    @include easeOut();
  }

  // Rotate into 'X' when menu-btn is clicked (close class added)
  &.close {
    .btn-line {
      &:nth-child(1) {
        position: relative;
        top: 9px;
        transform-origin: center;
        transform: rotate(405deg);
      }
      &:nth-child(2) {
        opacity: 0;
        transform-origin: center;
        transform: rotate(-405deg);
      }
      &:nth-child(3) {
        top: -8px;
        position: relative;
        transform-origin: center;
        transform: rotate(-405deg);
      }
    }
  }
}

// The navigation panel (portrait and nav links)
.menu {
  display: flex;

  position: fixed;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  &-branding, // left (portrait)
  &-nav-list {
    // right (nav links)
    @include easeOut();
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 50%;
    height: 100vh;
  }
  &-nav-list {
    // right (nav links)
    margin: 0;
    padding: 0;
    background-color: darken($primary-color, 1);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    &.show {
      transform: translate3d(0, 0, 0);
    }
    .nav-item {
      transform: translate3d(50vw, 0, 0);
      .nav-link:hover {
        color: $secondary-color;
      }
      .nav-link {
        @include easeOut();
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        font-size: 30px;
        &.current {
          color: $secondary-color;
        }
      }
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
  }
  &-branding {
    // left (portrait)
    background-color: lighten($primary-color, 0.1);
    transform: translate3d(0, 100%, 0);
    &.show {
      transform: translate3d(0, 0, 0);
    }
    .portrait {
      width: 250px;
      height: 250px;
      background: url(../img/portrait.jpg);
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }
  &.show {
    visibility: visible;
  }
}

@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    @include easeOut();
    transition-delay: $x * 0.1s;
  }
}
