@import "config";
@import "menu";
@import "loader";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $primary-color;
  margin: 0;
  color: set-text-color($primary-color);
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  p {
    line-height: 1.7;
  }
  h6 {
    margin: 0;
  }
}

main {
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      * {
        @include easeOut();
      }
      &:hover {
        * {
          color: $secondary-color;
          transform-origin: center;
          transform: scale(1.2);
        }
      }
    }
  }
  &#home {
    scroll-behavior: smooth;
    overflow: scroll;
    scroll-snap-type: y proximity;
    height: 100vh;
    .welcome {
      padding: 4rem;
      .lg-heading {
        margin-top: 20vh;
      }
      scroll-snap-align: center;
      height: 100vh;
    }
    .skillset {
      display: grid;
      padding: 10px;
      gap: 10px;
      transition: all 0.6s ease-in;
      min-height: 100vh;
      opacity: 0.3;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      h1,
      h2,
      h3 {
        color: set-text-color($bg-light);
      }
      img {
        max-height: 50px;
        max-width: 150px;
      }
      .grid-item {
        font-size: 1.5rem;
        padding: 1rem;
        background-size: cover;
        background-attachment: fixed;
        h2 {
          font-size: 2rem;
          color: white;
        }
      }
    }
    .this-website {
      position: relative;
      transition: background-color 0.6s ease-in;
      background-color: transparent;
      scroll-snap-align: center;
      height: 100vh;
      padding: 3rem;
      text-align: start;
      ul {
        img {
          height: 30px;
          margin-bottom: -5px;
          &.open_in_new {
            height: 20px;
            margin: 0;
          }
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: darken($primary-color, 0.4);
        z-index: -1;
        opacity: 0.4;
      }
    }
  }
  &#about,
  &#work,
  &#contact {
    padding: 4rem;
  }
  &#home,
  &#about,
  &#work,
  &#contact {
    .lg-heading {
      opacity: 0;
      transform: translateY(-40px);
      animation: fadeIn 2s ease-out 0.3s;
      animation-fill-mode: forwards;
    }
    .sm-heading {
      background-color: transparent;
      animation: bgFadeIn 2s ease-out 1.6s;
      animation-fill-mode: forwards;
    }
  }
  &#about {
    background: linear-gradient(-45deg, #3c3b3f, #605c3c, #333, #282425);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    .job {
      background: linear-gradient(-45deg, #4b4952, #494733, #493d3d, #282425);
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
    }
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    background-color: rgba(lighten($color: $primary-color, $amount: 1), 0.5);
    padding: 0 0.5rem;
  }
}
p {
  font-size: 1.3rem;
}

.md-heading {
  font-size: 2.3rem;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.text-secondary {
  color: $secondary-color;
}

.about-info {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "bio-img bio"
    "job-1 job-2";
  grid-template-columns: repeat(2, 1fr);
  .bio-img {
    background-image: url(../img/dp.jpeg);
    background-size: cover;
    width: 200px;
    height: 200px;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    border: 3px solid $secondary-color;
    grid-area: bio-img;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .job {
    background-color: lighten($primary-color, 5);
    border-bottom: 3px solid $secondary-color;
    padding: 1.5rem;
    border-radius: 8px;
    h3 {
      margin-top: 0.5rem;
    }
  }
  .job-1 {
    grid-area: job-1;
  }
  .job-2 {
    grid-area: job-2;
  }
}

.projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  .item {
    @include easeOut();
    justify-self: center;
    max-width: 350px;
    &:hover {
      transform: scale(1.1);
    }
  }
  .thumbnail {
    display: flex;
    img {
      @include easeOut();
      object-fit: cover;
      object-position: top;
      height: 150px;
      width: 100%;
      border-radius: 8px 8px 0 0;
      &:hover {
        border: 3.5px solid $secondary-color;
        object-position: bottom;
      }
    }
  }
  .btn {
    text-align: center;
    &:hover {
      padding: 0.5rem 1.5rem;
      font-size: 1.4rem;
    }
  }
  // round border
  .btn-dark {
    border-radius: 0 0 8px 8px;
  }
}

.btn {
  @include easeOut();
  display: block;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: $secondary-color;
    color: set-text-color($primary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

.contact-boxes {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  margin-top: 1rem;
  .contact-item {
    @include easeOut();
    position: relative;
    border: 3px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    font-size: 1.7rem;
    padding: 1.5rem 2.5rem;
    .tooltip {
      position: absolute;
      top: -50%;
      font-size: 1rem;
      background-color: black;
      border: 2px solid black;
      border-radius: 4px;
      padding: 0 0.5rem;
      color: white;
      &-fade {
        animation: fadeOut 3s ease-out, throb 0.4s ease-in;
      }
    }
    &:hover {
      background: $secondary-color;
      color: set-text-color($secondary-color);
      cursor: pointer;
      padding: 0.5rem 1.5rem;
      border-color: $secondary-color;
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

.grid-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  &.col-1-3 {
    grid-column: 1 / 3;
  }
  &.col-1-4 {
    grid-column: 1 / 4;
  }
  &.col-1-5 {
    grid-column: 1 / 5;
  }
  &.col-3-7 {
    grid-column: 3 / 7;
  }
}
.bg-pic--bright {
  background: rgba($color: #000000, $alpha: 1) url(../img/sunset.jpg);
  color: #333;
}
.bg-pic--dark {
  background-image: url(../img/fern.jpg);
}
.typewriter {
  .wrap {
    border-right: 0.1em solid set-text-color($primary-color);
  }
}
.rotate-typewriter {
  .wrap {
    border-right: 0.1em solid set-text-color($primary-color);
  }
}

.blinking {
  animation: blinking 1.2s steps(44) 0s infinite normal;
}
#main-footer {
  height: 60px;
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
}

@import "mobile";
