@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $primary-color;
  margin: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

main {
  padding: 4rem;
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background-color: rgba(lighten($color: $primary-color, $amount: 1), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.text-secondary {
  color: $secondary-color;
}
